/* Container. */
.container{
    background-color: white;
    width:90%;
    height:100%;
    padding: 10px;
    

    display: grid;
    
    grid-template-columns:  auto auto auto;
    grid-template-rows: auto auto auto;
    grid-row-gap:20px ;
    grid-column-gap: 40px
    

}

/* Items. */
.items {
    color:white;
}

/* Items in each div */
.item1 {
    background-color: rebeccapurple;
    
    text-align: center;
    
}

.item2 {
    background-color: yellowgreen;
    grid-column: 2/4;
    text-align: right;

    
}

.item3 {
    background-color: yellow;
    grid-row:2/5;
    grid-column: 1/3;
    text-align: left;
   
   
}

.item4{
    background-color: goldenrod;
    grid-row: 2/5;
    text-align: right;

  
}

/* Nested Grid. */
.item5 {
    background-color: white;
    display:grid;
    align-self: center;
    
    padding:20px;
    margin: 20px;
    grid-column:1/4;
    grid-template-rows: 170px;
    grid-template-columns: 350px 350px 350px 350px 350px;
    grid-gap: 40px;
    
}
/* Colour of Nested Grid. */
.item5 > div {
    background-color: black;
    color: red;
    
    
}



.item6 {
    background-color: orangered;
    grid-column: 1/4;
    
}
